.public{
    .about{
        background-image: url("./../../../images/bg-icon.png");
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        min-height: $vh;
        
    }
}