
$font-family-sans-serif: "'tajawal', Arial, sans-serif";
$font-family-serif:      "'tajawal', Arial, sans-serif";
$font-family-monospace:  "'tajawal', Arial, sans-serif";
$font-family-base:       $font-family-sans-serif;

@import "bootstrap";
@import url("./admin/main.scss");
@import url("./student/main.scss");
@import url("./public/main.scss");