@import "https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap";
$font-family-sans-serif:'Readex Pro', sans-serif;
$font-family-serif: 'Readex Pro', sans-serif;
$font-family-monospace: 'Readex Pro', sans-serif;
$font-family-base: $font-family-sans-serif;
$vh : calc(100vh - 70px);
$warning : #ffd767;
$primary:#3c40c6;
$dark : #1e272e;
$body-color: #383938;
$light:#f1f3f4;
$success:#05c46b;
@import "bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "admin/main.scss";
@import "student/main.scss";
@import "public/main.scss";
@import "./custom.scss";