.form-control{
    border: 1px solid $dark;
}
::placeholder {
    font-size: .8rem;
    opacity: .6 !important;
}
.shadow {
    &-lg{
        box-shadow: 0 1rem 3rem rgba($dark,0.18) !important;
        &.border-warning {
            border-color: rgba($warning,0.40) !important;
        }
    }
    &-md{
        box-shadow: 0 0.5rem 1rem rgba($dark,0.18) !important;
        &.border-warning {
            border-color: rgba($warning,0.40) !important;
        }
    }
    &-sm{
        box-shadow: 0 0.125rem 0.25rem rgba($dark,0.18) !important;
        &.border-warning {
            border-color: rgba($warning,0.40) !important;
        }
    }
}
.text-start{
    text-align: right !important;
}
.text-end{
    text-align: left !important;
}
// .bg{
//     &-light{
//         background-color: #f1f3f4 !important;
//     }
// }
tr:nth-of-type(odd){
    td{
        --bs-table-accent-bg: #ffd76747 !important;
    }
}
.table-bordered > :not(caption) > * {
    border-color: rgba($warning,0.18);
}
.btn{
    transition: .3s;
    &:hover{
        transform: translateY(-3px);
        box-shadow: rgba($warning,0.40) 0px 3px 8px;
    }
}

div#example_length {
    width: auto;
    float: right;
    margin-inline-end: 16px;
}
div.dataTables_wrapper div.dataTables_filter input.form-control.form-control-sm {
    margin-inline-start: 8px;
    border-color: black;
    padding: 8px 16px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-size: 1.3rem;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: end;
    float: left;
    width: fit-content;
}   
div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
div#table_length {
    float: right;
    margin-block: 16px;
}
input[type="search"] {
    border:$warning 1px solid;
    display: inline-block;
    border-radius: 5px;
    margin-inline-start: 8px;
}
select[name="table_length"] {
    padding: 0.3rem;
    border-radius: 3px;
    border: $warning 1px solid;
}
div#table_filter {
    margin-block: 8px;
}
div#table_paginate {
    width: fit-content;
    float: left;
    color: $dark;
}
div#table_info {
    float: right;
    width: fit-content;
    padding: 8px;
    color: $dark;
}
.paginate_button {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgba($warning,0.40);
    background-color: rgba($warning,0.18);
    margin-inline: 3px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        background-color: $warning;
        border-color: $warning;
        transform: translateY(-2px);
        display: inline-block;
    }
    &.disabled{
        background-color: $dark;
        border-color: $dark;
        color: $white;
        opacity: .7;
        cursor: not-allowed;
    }
    &.current{
        background-color: $warning;
        border-color: $warning;
    }
}
// audio
audio{
    width: 300px;
    height: 30px;
    &::-webkit-media-controls,
    &::-webkit-media-controls-enclosure, video::-webkit-media-controls-enclosure {
        width: 100%;
        max-width: 800px;
        height: 30px;
        flex-shrink: 0;
        bottom: 0;
        text-indent: 0;
        padding: 0;
        box-sizing: border-box;
    }
    &::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* We use flex-start here to ensure that the play button is visible even
         * if we are too small to show all controls.
         */
        justify-content: flex-start;
        -webkit-user-select: none;
        position: relative;
        width: 100%;
        z-index: 0;
        overflow: hidden;
        text-align: right;
        bottom: auto;
        height: 30px;
        background-color: $warning;
        border-radius: 5px;
        /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
        transition: opacity 0.3s;
    }
    audio:-webkit-full-page-media, video:-webkit-full-page-media {
        max-height: 100%;
        max-width: 100%;
    }
    audio:-webkit-full-page-media::-webkit-media-controls-panel,
    &::-webkit-media-controls-mute-button, video::-webkit-media-controls-mute-button {
        -webkit-appearance: media-mute-button;
        display: flex;
        flex: none;
        border: none;
        box-sizing: border-box;
        width: 35px;
        height: 30px;
        line-height: 30px;
        margin: 0 6px 0 0;
        padding: 0;
        background-color: initial;
        color: inherit;
    }
    &::-webkit-media-controls-overlay-enclosure {
        display: none;
    }
    &::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
        -webkit-appearance: media-play-button;
        display: flex;
        flex: none;
        border: none;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-left: 9px;
        margin-right: 9px;
        padding: 0;
        background-color: initial;
        color: inherit;
    }
    &::-webkit-media-controls-timeline-container, video::-webkit-media-controls-timeline-container {
        -webkit-appearance: media-controls-background;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1;
        -webkit-user-select: none;
        height: 16px;
        min-width: 0;
    }
    &::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
    &::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
        -webkit-appearance: media-current-time-display;
        -webkit-user-select: none;
        flex: none;
        display: flex;
        border: none;
        cursor: default;
        height: 30px;
        margin: 0 9px 0 0;
        padding: 0;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        color: white;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0;
        text-shadow: none;
        text-decoration: none;
    }
    &::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
        -webkit-appearance: media-slider;
        display: flex;
        flex: 1 1 auto;
        height: 8px;
        margin: 0 15px 0 0;
        padding: 0;
        background-color: transparent;
        min-width: 25px;
        border: initial;
        color: inherit;
    }
    &::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
        -webkit-appearance: media-volume-slider;
        display: flex;
        /* The 1.9 value was empirically chosen to match old-flexbox behaviour
         * and be aesthetically pleasing.
         */
        flex: 1 1.9 auto;
        height: 8px;
        max-width: 70px;
        margin: 0 15px 0 0;
        padding: 0;
        background-color: transparent;
        min-width: 15px;
        border: initial;
        color: inherit;
    }
    /* FIXME these shouldn't use special pseudoShadowIds, but nicer rules.
       https://code.google.com/p/chromium/issues/detail?id=112508
       https://bugs.webkit.org/show_bug.cgi?id=62218
    */
    // input[type="range" i]::-webkit-media-slider-container {
    //     display: flex;
    //     align-items: center;
    //     flex-direction: row; /* This property is updated by C++ code. */
    //     box-sizing: border-box;
    //     height: 100%;
    //     width: 100%;
    //     border: 1px solid rgba(230, 230, 230, 0.35);
    //     border-radius: 4px;
    //     background-color: transparent; /* Background drawing is managed by C++ code to draw ranges. */
    // }
    /* The negative right margin causes the track to overflow its container. */
    // input[type="range" i]::-webkit-media-slider-container > div {
    //     margin-right: -14px;
    // }
    // input[type="range" i]::-webkit-media-slider-thumb {
    //     margin-left: -7px;
    //     margin-right: -7px;
    // }
    &::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-fullscreen-button {
        -webkit-appearance: media-enter-fullscreen-button;
        display: flex;
        flex: none;
        border: none;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-left: -5px;
        margin-right: 9px;
        padding: 0;
        background-color: initial;
        color: inherit;
    }
    &::-webkit-media-controls-toggle-closed-captions-button {
        display: none;
    }
    &::-webkit-media-controls-fullscreen-volume-slider, video::-webkit-media-controls-fullscreen-volume-slider {
        display: none;
    }
    &::-webkit-media-controls-fullscreen-volume-min-button, video::-webkit-media-controls-fullscreen-volume-min-button {
        display: none;
    }
    &::-webkit-media-controls-fullscreen-volume-max-button, video::-webkit-media-controls-fullscreen-volume-max-button {
        display: none;
    }
}