.materials{
    .file {
        overflow: hidden;
        .thumbnail {
            position: relative;
            width: 120px;
            height: 120px;
            margin: 16px auto;
            margin-bottom: 54px;
            display: block;
            img {
                max-height: 100%;
                min-width: 100%;
                aspect-ratio: 1;
            }
            .extention {
                position: absolute;
                inset-block-end: 0px;
                inset-inline-start: 5px;
                background-color: $warning;
                color: $dark;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                box-shadow: rgb(0 0 0 / 19%) -2px -3px 8px;
                direction: ltr;
            }
        }
        .title{
            margin-bottom: 16px;
        }
    }
}
